@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap');

:root {
    --black: #282828;
    --acc: #007BFF;
    --acc-dark: #0069D9;
    --white: #fff;
    --gray:#8E8E93
}

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
}

html {
    scroll-behavior: smooth;
}


.wrapper {
    padding: 0 250px;
}
/* START HEADER-NAV */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: var(--white);
    z-index: 100;
}

.header .logo h2{
    font-size: 24px;
    font-weight: 600;
}

.header ul, footer ul {
    list-style-type: none;
}

.header li, footer li {
    float: left;
}

.header li a.nav-links {
    display: block;
    color: var(--black);
    text-align: center;
    padding-right: 20px;
    text-decoration: none;
}

.header .nav li a {
    font-size: 20px;
}

.active {
    font-weight: 600;
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: var(--black);
    margin: 5px;
    transition: all 0.3s ease;
}

@media (max-width: 1100px){
    .wrapper {
        padding: 0 70px;
    }
    body {
        overflow-x: hidden;
    }
    .navbar {
        padding: 0 30px;
    }
    .nav-list {
        width: 100%;
        margin: 0;
        position: absolute;
        right: 0;
        height: 30vh;
        top: 7vh;
        background-color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* transform: translateX(100%); */
        transform: translateY(-150%);
        transition: transform 0s ease-in;
        font-size: 32px;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
        
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active{
    transform: translateY(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.toggle .line1{
    transform: rotate(-405deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(405deg) translate(-5px,-6px);
}

/* END HEADER-NAV */



@media (max-width: 768px){
    .wrapper {
        padding: 0 30px!important;
    }
    .gallery {  
        position: relative; 
        padding-top: 10vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        min-height: 10vh;
        grid-gap: 10px;
        padding-bottom: 30px;
    }

    .intro-content h1 {
        font-size: 30px!important;
        font-weight: 600!important;
        margin-bottom: 30px!important;
    }
    
    .intro-content p {
        font-size: 20px!important;
        font-weight: 300!important;
        margin-bottom: 30px!important;
    }
    
    .intro-content p span {
        font-size: 20px!important;
        font-weight: 500!important;
    }
    
    .intro-content h6 {
        font-size: 20px!important;
        font-weight: 300!important;
        margin-bottom: 50px!important;
    }


}


@media (max-width: 460px){
    .wrapper {
        padding: 0 15px!important;
    }
    .gallery {  
        position: relative; 
        padding-top: 10vh;
        padding-right: 30px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        min-height: 100vh;
        grid-gap: 10px;
        padding-bottom: 30px;
    }

    .img-container {
        padding-right:15px!important;
    }

    .modal p {
        color: var(--white);
        font-size: 1.5rem!important;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -5%);
    }
    

    footer {
        font-size: 14px;
    }

    footer a.soc-links i {
        font-size: 18px;
    }
}

/* START INTRO */

.intro {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding-top: 10vh;
}

.intro-content {
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-content h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
}

.intro-content p {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 40px;
}

.intro-content p span {
    font-size: 30px;
    font-weight: 500;
}

.intro-content h6 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 50px;
}

.intro-content h6 span a, .contact h2 span a {
    text-decoration: none;
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px;
    border-bottom: 2px solid var(--acc);
    cursor: pointer;
}

.intro-content h6 span a:hover, .contact h2 span a:hover {
    color: var(--white);
    background-color: var(--acc);
    
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.portfolio-btn {
    font-size: 20px;
    font-weight: 500;
    padding: 10px 35px;
    background-color: var(--acc);
    color: var(--white);
    border-radius: 5px;
    text-decoration: none;
}

.portfolio-btn:hover {
    background-color: var(--acc-dark);
}

/* END INTRO */


/* START PORTFOLIO */

.gallery {  
    position: relative; 
    padding-top: 10vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    min-height: 100vh;
    grid-gap: 10px;
    padding-bottom: 30px;
    
}

.img-container {
    overflow: hidden;
    height: 50vh;
    padding-left: 1;
    animation: appear 1.5s;
    animation-fill-mode: forwards;
    transition: 0.25s ease-out;

}

@keyframes appear {
    0% { left: 16px; opacity: 0; }
    100% { left: 16px; opacity: 1; }  
 }

/* img {
    animation: appear 1.5s;
    animation-fill-mode: forwards;
    transition: 0.25s ease-out;
}

@keyframes appear {
    0% { left: 500px; opacity: 0; }
    100% { left: 16px; opacity: 1; }  
 } */

.img-hidden {
    display: none;
}

.show-btn {
width: 100%;
margin-top: 50px;
}
#loadMore {
    position: relative;
    background-color: var(--acc);
    padding: 8px 20px;
    cursor: pointer;
    background: var(--acc);
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#loadMore:hover {
    background-color: var(--acc-dark);
}

.img-container img { 
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.img-container:hover img {
    transform: scale(1.2);
    filter: brightness(50%);
}


.modal {
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10001;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
}

.modal.open {
    opacity: 1;
    pointer-events: all;
}

.view-img {
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease-out;
}

.view-img.open {
    transform: translate(-50%, -50%) scale(1);
}

.modal p {
    color: var(--white);
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
}


/* END PORTFOLIO */


/* START CONTACT */
.contact {
    position: relative; 
    padding-top: 10vh;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    min-height: 100vh;
    grid-gap: 10px;
}

.contact h1 {
    font-size: 40px;
    font-weight: 600;
}

.contact h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 50px;
}

.contact form {
    position: relative;
}

.contact form .inputBox {
    position: relative;
    margin-bottom: 40px;
}

.contact form .inputBox:last-child {
    margin-bottom: 0px;
}

.contact form .inputBox input,
.contact form .inputBox textarea {
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    width: 80%;
    color: var(--black);
    padding-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    border-bottom: 2px solid var(--gray);
    resize: none;
}

.contact form .inputBox textarea  {
    height: 100px;
}


.contact form .inputBox input[type="submit"]{
    background-color: var(--acc);
    padding: 8px 20px;
    margin-top: -10px;
    width: 100px;
    cursor: pointer;
    background: var(--acc);
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    border: none;

    border-radius: 5px;
}



.contact form .inputBox input[type="submit"]:hover {

    background-color: var(--acc-dark);

}

.contact form .inputBox span {
    position: absolute;
    left: 0;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    pointer-events: none;
    letter-spacing: 1px;
    color: var(--gray);
    transition: all 0.2s;
}


.contact form .inputBox input:focus ~ span,
.contact form .inputBox textarea:focus ~ span,
.contact form .inputBox input:valid ~ span,
.contact form .inputBox textarea:valid ~ span {
    transform: translateY(-24px);
    color: var(--gray);
    font-size: 14px;
}


.contact form .inputBox input:focus,
.contact form .inputBox textarea:focus,
.contact form .inputBox input:valid,
.contact form .inputBox textarea:valid {
    border-bottom-color: var(--gray);
}

/* END CONTACT */


@media (max-width: 768px){
    .contact h1 {
        font-size: 30px;
        font-weight: 600;
    }
    
    .contact h2, .contact h2 span a {
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 50px;
    }

    
}
/* START FOOTER */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    left: 0;
    top: 0;
    color: gray;
}

footer a.soc-links {
    font-size: 22px;
    display: block;
    color: var(--gray);
    text-decoration: none;
    margin: 0 10px;
}

/* END FOOTER */